<div class="row" *ngIf="loader">
  <div class="col">
    <nb-card [nbSpinner]="loader">
      <nb-card-body>Loading please wait...</nb-card-body>
    </nb-card>
  </div>
</div>
<ng-container *ngIf="config$ | async as config">
  <div class="row">
    <div class="col-3" *ngFor="let projectInfo$ of projectsInfo$$">
      <nb-card *ngIf="projectInfo$ | async as project">
        <nb-card-header>
          <span>
            <a href="{{ project.web_url }}" target="_blank" class=""> {{ project.path_with_namespace }}</a>
            <br />
            {{ project.default_branch }}
            <br />
            <small *ngIf="project.commits.length > 0">
              <nb-icon icon="calendar-outline"></nb-icon> Updated the
              {{ project.commits[0].created_at | date }}
            </small>
          </span>
          <span class="float-right" *ngIf="project.pipelines.length">
            <img
              src="https://gitlab.com/{{ project.path_with_namespace }}/badges/{{
                project.default_branch
              }}/pipeline.svg"
          /></span>
        </nb-card-header>
        <nb-card-body *ngIf="project.commits">
          Last commit {{ project.commits[0].short_id }} : {{ project.commits[0].title }}
        </nb-card-body>
        <nb-card-body *ngIf="project.pipelines">
          <nb-alert
            [outline]="pipelineStatusToNbStatus(pipeline.pipeline.status)"
            class="mb-3"
            *ngFor="let pipeline of project.lastPipelines"
          >
            <nb-icon [icon]="pipelineStatusToIcon(pipeline.pipeline.status)"></nb-icon>
            <a class="a-not-blue" href="{{ pipeline.pipeline.web_url }}" target="_blank"
              >{{ pipeline.ref }} : {{ pipeline.pipeline.status }}</a
            >
          </nb-alert>
        </nb-card-body>
        <nb-card-body *ngIf="project.tags.length">
          Registry tags :
          <ul>
            <li *ngFor="let tag of project.tags">{{ tag.name }}</li>
          </ul>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</ng-container>
