@import 'themes';

@import "~@nebular/theme/styles/globals";
@import '~@nebular/bootstrap/styles/globals';

@include nb-install() {
    @include nb-theme-global();
    @include nb-bootstrap-global();
};


.pointer {
    cursor: pointer !important;
}

i.eva-hover:hover {
    fill:#cccccc;
}

i.eva-hover {
    fill:#ffffff;
}

nb-card-header span a, .a-not-blue {
    text-decoration: none!important;
    cursor: pointer;
    color:inherit!important;
}
